.game-content {
    // max-width: 1280px;
    // height: 100%;
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: space-between;
    color: white;
    margin: 140px 3vw 20px 220px;
    padding-left: 4vw;

    @media screen and (max-width: 1450px) {
        padding: 0;
    }

    .game__media-container {
        display: flex;
        flex-direction: column;
        width: 49%;

        img {
            margin-bottom: 2%;
            border-radius: 10px;
        }

        .game__media {
            width: 100%;
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(3, 1fr);
            gap: 4% 2%;
            padding: 20px 0;

            @media screen and (max-width: 1450px) {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(3, 1fr);

            }        

            .game__screenshots-img {
                border-radius: 10px;
                position: relative;

                .icon-play {
                    position: absolute;
                    top: 5%;
                    left: 2%;
                    width: 30%;
                    height: 50%;
                }
            }

            .game__media__view-all {
                height: 100%;
                color: #80858B;
                background-color: #242426;
                border-radius: 10px;
                transition: all .3s linear;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                &:hover {
                    cursor: pointer;
                    color: #242426;
                    background-color: #80858B;
                }
            }
        }
    }

    .game__description {
        width: 49%;
        display: flex;
        flex-direction: column;
        margin: 0;

        .game__meta {
            display: flex;
            flex-wrap: wrap;
            
            .game__meta-block {
                width: 50%;
                text-align: left;
                margin-bottom: 16px;

                a {
                    display: flex;
                    color: #AFB2B6;
                }

                &:nth-child(2n+1) {
                    padding-right: 8px;
                }

                .game__meta-title {
                    margin-bottom: 8px;
                    font-size: 14px;
                    font-weight: 500;
                    color: rgba(255, 255, 255, 0.4);
                }

                .game__meta-text {
                    display: flex;
                    flex-wrap: wrap;

                    h5 {
                        margin-right: 10px;
                        font-size: 16px;
                        font-weight: 400;
                    }
                    h5:not(:last-child) {
                        &::after {
                            content: ',';
                        }
                    }
                }
            }
            .game__meta-block_wide {
                width: 100%;
            }

        }

        .rating-and-favorites {
            display: flex;
            width: 100%;
        }

        .add-to-favorites {
            background-color: #323537;
            border-radius: 6px;
            border: none;
            width: 12%;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            fill: #AFB2B6;

            &:hover {
                fill: white;
            }
        }

        h1 {
            font-size: 55px;
            margin-bottom: 20px;
            line-height: normal;
            
            @media screen and (max-width: 1450px) {
                font-size: 35px;
            }
        }

        h4 {
            margin: 20px 0 20px 0;
        }

        h4 {
            font-weight: 500;
            display: -webkit-box;
            -webkit-line-clamp: 10;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        .game__description-rating {
            width: 15%;
            height: 30px;
            border-radius: 6px;
            background-color: #00A340;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            margin-right: 2vw;

            .trends-icon {
                fill: white;
                height: 80%;
            }
        }

        .top {
            background-color: #7B61FF;
        }

        .bookmark {
            fill: #7B61FF;

            &:hover {
                fill: #7B61FF;
            }
        }

        a {
            margin-bottom: 20px;
        }
    }
}

.background_image {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -5;
    opacity: 0.1;
    object-fit: cover;
}