svg path {
    stroke: inherit;
    stroke-width: inherit;
    fill: inherit;
}

.favorites-icon svg:hover {
    fill: #7B61FF;
    stroke: #7B61FF;
}

.favorites-icon:hover svg {
    fill: #7B61FF;
    stroke: #7B61FF;
}

.favorites-icon:hover {
    fill: #7B61FF;
    stroke: #7B61FF;
}
svg:hover path {
    fill: #7B61FF;
    stroke: #7B61FF;
}
svg path:hover {
    fill: #7B61FF;
    stroke: #7B61FF;
}
