.menu__wrapper {
    height: 100vh;
    width: 18vw;
    color: #80858B;
    font-size: 18px;
    font-family: Exo 2;
    font-weight: 600;
    line-height: 24px;
    word-wrap: break-word;
    padding: 48px 0 4vh 4vw;
    position: fixed;
    background-color: black;

    .menu__logo {
        padding: 0 20px 64px 0;
    }
    .menu__link {
        padding: 0 10px 40px 0;
        display: flex;
        justify-content: left;
        fill: #80858B;

        &:hover {
            cursor: pointer;
            color: #7B61FF;
            fill: #7B61FF;
        }
        span {
            padding-left: 20px;
        }        
    }
    .rights-reserved {
        position: absolute;
        left: 4vw;
        bottom: 4vh;
        right: 20px;
    }
    .active {
        color: #917CFF;
        fill: #917CFF;
    }

}
