.movie__card {
    display: flex;
    flex-direction: column;
    width: 18.4%;
    height: 36vh;
}
.movie__card h3, .movie__card h4 {
    font-size: .8rem;
    width: 100%;
    color: white;
}
.movie__poster{
    height: 80%;
    border-radius: 20px;
    object-fit: cover;
    object-position: 50% 50%;
}
.movie__description {
    margin-top: 2vh;
}