.games-layout {
    width: calc(100% - 220px);
    display: flex;
    flex-direction: column;
    margin: 128px 3vw 40px 220px;
}

.games-list {
    width: 100%;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(4, 1fr);   
    gap: 24px;
}

@media screen and (max-width: 1550px) {
    .games-list {
        grid-template-columns: repeat(3, 1fr);   
    }
}
@media screen and (max-width: 1285px) {
    .games-list {
        grid-template-columns: repeat(2, 1fr);   
    }
}
@media screen and (max-width: 980px) {
    .games-list {
        display: flex;
        flex-direction: column;
    }
}