.header-wrapper {
    display: flex;
    justify-content: space-between;
    height: 152px;
    padding: 40px 4vw 56px 0;
    width: calc(100% - 18vw);
    position: fixed;
    left: 18vw;
    background-color: black;
    z-index: 10;
}