.movie__card {
    display: flex;
    flex-direction: column;
    width: 13vw;
    height: auto;
}
.movie__card h3, .movie__card h4 {
    font-size: .8rem;
    width: 100%;
    color: white;
}
.movie__poster{
    height: 70%;
    border-radius: 20px;
    object-fit: cover;
    object-position: 50% 50%;
    /* background-size: 10%, cover; */
}
.movie__description {
    margin-top: 24px;
}