.filter-header {
  display: flex;
  justify-content: space-between;
}
.filter-header h1 {
  font-weight: 500;
}
.filter-header .close-btn:hover {
  cursor: pointer;
}

.btn-sort {
  width: 100%;
  height: 5vh;
}
.btn-sort .btn-rating {
  border-radius: 10px 0 0 10px;
}
.btn-sort .btn-rating:hover {
  color: white;
}
.btn-sort .btn-year {
  border-radius: 0 10px 10px 0;
}
.btn-sort .btn-year:hover {
  color: white;
}
.btn-sort .btn-rating, .btn-sort .btn-year {
  width: 50%;
  height: 100%;
  background-color: inherit;
  border: solid 2px #323537;
  color: #80858B;
}

.input-name {
  height: 5vh;
  border-radius: 10px;
}

.input-year {
  display: flex;
  justify-content: space-between;
  height: 5vh;
  border-radius: 10px;
  width: 100%;
}
.input-year input {
  width: 45%;
}

.selector {
  height: 5vh;
}
.selector select {
  color: #80858B;
}

.btn-confirm {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  margin: 100px 0 20px 0;
}
.btn-confirm .btn-clear, .btn-confirm .btn-results {
  width: 45%;
  height: 100%;
  border: solid 2px #323537;
  color: white;
  border-radius: 10px;
}
.btn-confirm .btn-results {
  background-color: #7B61FF;
}
.btn-confirm .btn-results:hover {
  background-color: #917CFF;
}
.btn-confirm .btn-clear {
  background-color: #323537;
}
.btn-confirm .btn-clear:hover {
  color: #AFB2B6;
}

.blackout {
  position: fixed;
  z-index: 11;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0.7;
  transition: 0.3s ease;
}